@inherits LayoutComponentBase
<MudThemeProvider />
<MudSnackbarProvider />

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">
    <div class="d-flex flex-column mud-width-full">
        <MudPaper Class="pa-8" Width="100%" MaxWidth="500px" Elevation="8">
            @* <MudIcon Icon="@Icons.Custom.Brands.MudBlazor" Size="Size.Large" Style="width:100px; height:100px;" /> *@
            @Body
        </MudPaper> 
     </div>
</MudContainer>

@code {
}