<?xml version="1.0" encoding="utf-8"?>
<config>
  <factory-template-path>Configs\Template\Factory.liquid</factory-template-path><!-- 工厂模板路径 -->
  <message-template-path>Configs\Template\Message.liquid</message-template-path> <!-- 消息模板路径 -->
  <client-factory-template-path>Configs\ClientTemplate\Factory.liquid</client-factory-template-path><!-- client工厂模板路径 -->
  <client-message-template-path>Configs\ClientTemplate\Message.liquid</client-message-template-path><!-- client消息模板路径 -->
  <dll-path>..\..\app_debug\GeekServer.Proto.dll</dll-path> <!-- proto dll path-->
  <server-out-path>..\..\GeekServer.Generate\Proto\</server-out-path> <!-- 服务器代码导出路径 -->
  <client-out-path>..\..\UnityDemo\Assets\Scripts\Generate\Proto\</client-out-path><!-- 客户端代码导出路径-->
</config>