<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target name="console" xsi:type="Console" layout="[${longdate} ${level:uppercase=true}][${threadname}][${callsite}(${logger:shortName=true}:${callsite-linenumber})]${message}" />
      <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
          <target xsi:type="File"
          fileName="${basedir}/logs/GameServer.log"
          archiveFileName="${basedir}/logs/ExcelConverter.${date:format=yyyyMMddHH}.log"
          archiveNumbering="Date"
          archiveEvery="Day"
          archiveDateFormat="yyyyMMdd"
          concurrentWrites="true"
          keepFileOpen="false" layout="[${longdate} ${level:uppercase=true}][${callsite}(${logger:shortName=true}:${callsite-linenumber})]${message}" />
      </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>